* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: #cfd1e1;
}
label {
    position: relative;
    width: 120px;
    height: 60px;
    /* background-color: #777; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
label::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 4px;
    background-color: #444;
    border-radius: 4px;
}
label input {
    position: relative;
    appearance: none;
    cursor: pointer;
}
.icon {
    position: absolute;
    left: 0;
    width: 60px;
    height: 100%;
    transition: 0.5s;
}
label input:checked ~ .icon {
    left: 60px;
}
.icon::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(#fff , #fff , #e3e3e3);
    filter: blur(1px);
    z-index: 1;
}
.icon::after {
    content: "";
    position: absolute;
    right: -1px;
    top: 0;
    width: 10px;
    height: 100%;
    background: #9d9d9d;
    filter: blur(1px);
}
.shadow {
    position: absolute;
    top: 30px;   
    left: -12px;
    width: 84.85px;    
    height: 300px;
    background: linear-gradient(180deg , rgba(0,0,0,0.1),
    transparent);
    transform-origin: top;
    transform: rotate(315deg);
    pointer-events: none;
}
.iconbox {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#dbdae1 , #a3aaba);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1),
    15px 15px 15px rgba(0,0,0,0.1),
    20px 20px 15px rgba(0,0,0,0.1),
    30px 30px 15px rgba(0,0,0,0.1),
    inset 1px 1px 2px #fff;
}
.iconbox i {
    color: transparent;
    font-size: 1.5em;
    -webkit-text-stroke: 0.5px #555;
}
label input:checked ~ .icon .iconbox i {
    -webkit-text-stroke: 0.5px #00ffe2;
    filter: drop-shadow(0 0 5px #00ffe2) drop-shadow(0 0 15px #00ffe2);
}